<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>
<script>
  const PostDetailApp = {
    delimiters: ['[[',']]'],//vue와 django 템플릿 충돌방지
    data(){
      return {
        post: {},
        prevPost: {},
        nextPost: {},
        cateList: [],
        tagList: [],
      }
    },
    created(){// 컴포넌트를 생성하는 단계
      console.log('created()...')
      const postId = location.pathname.split('/')[3]
      this.fetchPostDetail(postId);
      this.fetchCateTagList();
    },
    methods: {
      fetchPostDetail(postId) {
        console.log('fetchPostDetail()...',postId)

        axios.get(`/api/post/${postId}`)//장고에게 가는 request api로 감
        .then(res => {//postList에 api에서 받은 데이터를 넣겠다
          console.log("FETCH POSTDETAIL GET RES", res)
          this.post = res.data.post;
          this.prevPost = res.data.prevPost;
          this.nextPost = res.data.nextPost;
          console.log(this.post.update_date)
        })
        .catch(err => {//axios가 실패했을 때 작동 성공하면 then 실패하면 catch 
          console.log("FETCH POSTLIST GET ERR.RESPONSE", err.reponse)// 실패하면 에러메시지를 콘솔에 찍어라
          alert(`${err.response.status}${err.response.statusText}`)
        })
      },
      fetchCateTagList() {
        console.log("fetchCateTagList()...")
        axios.get('/api/catetag')
        .then(res => {
          console.log('FETCH CATETAG LIST RES', res)
          this.cateList = res.data.cateList;
          this.tagList = res.data.tagList;
        })
        .catch(err => {
          console.error("Error fetching category and tag list:", err.response)
          alert(`${err.response.status}${err.response.statusText}`)
        })
        }
      }
    
  }
Vue.createApp(PostDetailApp).mount('#page-top')  
</script>